<style>
	#mar {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 40px;
		text-align: center;
		font-size: 20px;

	}
</style>
<div class="inner cover">
    <marquee id="mar" direction=up  scrollamoutn=50  scrolldelay="300"  >
       当你老了，头发白了，睡意昏沉，<br>
       炉火旁打盹，请取下这部诗歌，<br>
       慢慢读，回想你过去眼神的柔和，<br>
       回想它们昔日浓重的阴影，<br>
       多少人爱你青春欢畅的时辰，<br>
       爱慕你的美丽，假意或真心，<br>
       只有一个人还爱你那朝圣者的灵魂，<br>
       爱你衰老了的脸上痛苦的皱纹，<br>
       垂下头来，在红光闪耀的炉子旁，<br>
       凄然地轻轻诉说那爱情的消逝，<br>
       在头顶的山上它缓缓踱着步子，<br>
       在一群星星中间隐藏着脸庞。<br>
    </marquee> 
</div>
<div>
   <a class="btn btn-lg btn-primary" href="/index">赶快进入</a>
</div>















